<div class="container-fluid">
    <!-- Application Dashboard -->
					    <div class="row">
					    	<!--Sidebar-->
					    	<div class="col-sm-3 col-md-2 sidebar hidden-xs">
					    		<ul class="nav nav-sidebar">
						            <!--Nav chunk. Loaded in sidebar on desktop and dropdown nav on mobile-->
					<li class="">
					    <a href="https://buildpivot.com/home"> « <i class="fa fa-home" aria-hidden="true"></i></a>
					</li>
					<hr class="no-margin">
					<li class="dropdown-header">Test Project</li>
					<li class="">
					    <a href="https://buildpivot.com/projects/73">Dashboard <span class="sr-only">(current)</span></a>
					</li>
					<li id="nav-docs" class="">
					    <a href="https://buildpivot.com/projects/73/documents/0"><i class="fa fa-file-text-o fa-lg"></i> &nbsp; Documents (Beta)</a>
					</li>
					<li class="">
					   <a href="https://buildpivot.com/projects/73/progress"><i class="fa fa-random fa-lg"></i>  &nbsp; Progress Reports</a>
					</li>
					<li class="">
					    <a href="https://buildpivot.com/projects/73/photos"><i class="fa fa-camera fa-lg"></i>  &nbsp; Photos</a>
					</li>
					<li class="">
					    <a href="https://buildpivot.com/projects/73/team"><i class="fa fa-users fa-lg"></i> &nbsp; Team Members </a>
					</li>
					<hr class="no-margin">
					          	</ul>
					    	</div>
					    	<!--Main Body-->
					    	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
							    <div class="row">
									  	
							        <div class="back-to-projects hide-on-mobile">
							        	<a onclick="window.history.go(-1)" class="js-btn">
							        		</a><button type="button" class="btn btn-default"><a onclick="window.history.go(-1)" class="js-btn">
							        	 		« Back</a>
							        		</button>

							     	
	
							      	
						    	<!-- Dashboard Content -->
								
																						<div class="row"><h2 id="page-title" class="page-header text-capitalize">Test Project <span class="lighter">| Dashboard </span></h2></div>
																						<div class="row project-dashboard">
																						    <div class="">
																						        		<!--Tiles-->
																								<div class="row no-margin-mobile">
																									
																									<div class="col-sm-12 col-md-6 ">

																									    <a href="https://buildpivot.com/projects/73/documents/0" class="project-dashboard-tile">
																										    <div class="col-xs-6">
																										        <div class="panel panel-primary" id="docs-tile">
																										            <div class="panel-heading">
																										                <div class="row no-margin-mobile">
																										                    
																										                    <div class="col-xs-12 text-right xs-padding-mobile">
																										                    	<div class="col-xs-12 no-padding">
																										                    		<div class="col-xs-6 text-left">
																											                        	<i class="fa fa-file-text-o fa-2x"></i>
																											                        </div>
																										                    		<div class="col-xs-6 text-right">
																											                        	<div id="docs-count" class="huge">1</div>
																										                    		</div>
																										                    	</div>
																										                        <div class="tile-title">Docs <i class="fa fa-arrow-circle-right"></i></div>
																										                    </div>
																										                </div>
																										            </div>
																										        </div>
																										    </div>
																									    </a>

																									    <a href="https://buildpivot.com/projects/73/team" class="project-dashboard-tile">
																										    <div class="col-xs-6">
																										        <div class="panel panel-green">
																										            <div class="panel-heading">
																										                <div class="row no-margin-mobile">
																										                    <div class="col-xs-12 text-right xs-padding-mobile">
																										                    	<div class="col-xs-12 no-padding">
																										                    		<div class="col-xs-6 text-left">
																										                        		<i class="fa fa-users fa-2x"></i>
																											                        </div>
																										                    		<div class="col-xs-6 text-right">
																										                        		<div class="huge">1</div>
																										                    		</div>
																										                    	</div>
																										                        <div class="tile-title">Members <i class="fa fa-arrow-circle-right"></i></div>
																										                    </div>
																										                </div>
																										            </div>
																										        </div>
																										    </div>
																									    </a>
																									</div>

																									<!--Right side -->
																									<div class="col-sm-12 col-md-6">

																									    <a href="https://buildpivot.com/projects/73/progress" class="project-dashboard-tile">
																										    <div class="col-xs-6">
																										        <div class="panel panel-yellow">
																										            <div class="panel-heading">
																										                <div class="row no-margin-mobile">
																										                    <div class="col-xs-12 text-right xs-padding-mobile">
																										                    	<div class="col-xs-12 no-padding">
																										                    		<div class="col-xs-6 text-left">
																										                        		<i class="fa fa-random fa-2x"></i>
																											                        </div>
																										                    		<div class="col-xs-6 text-right">
																										                        		<div class="huge">1</div>
																										                    		</div>
																										                    	</div>
																										                        <div class="tile-title">Progress <i class="fa fa-arrow-circle-right"></i></div>
																										                    </div>
																										                </div>
																										            </div>
																										        </div>
																										    </div>
																									    </a>

																									    <a href="https://buildpivot.com/projects/73/photos" class="project-dashboard-tile">
																									    <div class="col-xs-6">
																									        <div class="panel panel-red">
																									            <div class="panel-heading">
																									                <div class="row no-margin-mobile">
																									                    <div class="col-xs-12 text-right xs-padding-mobile">
																									                    	<div class="col-xs-12 no-padding">
																										                    		<div class="col-xs-6 text-left">
																										                        		<i class="fa fa-camera fa-2x"></i>
																											                        </div>
																										                    		<div class="col-xs-6 text-right">
																										                        		<div class="huge">1</div>
																										                    		</div>
																										                    	</div>
																									                        <div class="tile-title">Photos <i class="fa fa-arrow-circle-right"></i></div>
																									                    </div>
																									                </div>
																									            </div>
																									        </div>
																									    </div>
																									    </a>
																									</div>
																								</div>
																								<!--End Tiles-->

																								<div class="panel panel-default">
																								    <div class="panel-heading">Project Overview</div>   

																								    <div class="dashboard-description">
																										<p>This is test</p>
																									</div>
																								</div>
																							   	
																							</div>
																						</div>		     
																	    	</div>
																	    </div>
																	</div>