<!--Progress Report Description-->
<div class="form-group">
    <label class="col-md-3 control-label">Description</label>
    <div class="col-md-9">
        
		<%= text_area_tag :content, "", :class => "tinymce", :rows => 10, :cols => 60 %>
		<%= tinymce %>


    </div>
</div>
