<div class="jumbotron">
  <h1><i class="fa fa-refresh fa-spin fa-1x fa-fw"></i>
<span class="sr-only">Loading...</span>Project Management</h1>
  <p>This is a project management application, connecting professionals in the field</p>
  <%= link_to "Sign Up", "#",  class: "btn btn-primary btn-lg" %>
</div>
