<div class="jumbotron">
  <h1>Project Management Application</h1>
  <p>This is a project management application, connecting professionals in the field</p>
  <%= link_to "Sign Up", "#",  class: "btn btn-primary btn-lg" %>
</div>
